<!DOCTYPE html>
<html>
<head>
    <title>eDoctor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/welcome.css') }}">
    <style>
        table {
            animation: transitionIn-Y-bottom 0.5s;
        }
    </style>
</head>
<body>
    <div class="full-height">
        <center>
            <table border="0">
                <tr>
                    <td width="80%">
                        <font class="edoc-logo">eDoc. </font>
                        <font class="edoc-logo-sub">| THE ECHANNELING PROJECT</font>
                    </td>
                    <td width="10%">
                        <a href="{{ url_for('login') }}" class="non-style-link"><p class="nav-item">LOGIN</p></a>
                    </td>
                    <td  width="10%">
                        <a href="{{ url_for('signup') }}" class="non-style-link"><p class="nav-item" style="padding-right: 10px;">REGISTER</p></a>
                    </td>
                </tr>

<!--                <tr>-->
<!--                    <td  colspan="3">-->
<!--                        <h1>Welcome to our Application</h1>-->
<!--                        <p>Please choose your role to register:</p>-->
<!--                        <div class="button-container">-->
<!--                            <a href="{{ url_for('register_doctor') }}" class="button">Register as Doctor</a>-->
<!--                            <a href="{{ url_for('register_patient') }}" class="button">Register as Patient</a>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                </tr>-->
                <tr>
                    <td colspan="3">
                        <p class="heading-text">Avoid Hassles & Delays.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <p class="sub-text2">How is health today, Sounds like not good!<br>Don't worry. Find your doctor online Book as you wish with eDoc. <br>
                        We offer you a free doctor channeling service, Make your appointment now.</p>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <center>
                        <a href="{{ url_for('login') }}">
                            <input type="button" value="Make Appointment" class="login-btn btn-primary btn" style="padding-left: 25px;padding-right: 25px;padding-top: 10px;padding-bottom: 10px;">
                        </a>
                    </center>
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                    </td>
                </tr>
            </table>
        </center>
    </div>
</body>
</html>
