<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>YouTube Video Downloader</h1>
        <input type="text" id="video-link" placeholder="Enter YouTube video link">
        <button onclick="startDownload()">Download</button>
        <div id="download-progress" style="display: none;">
            <p>Downloading video...</p>
            <progress id="progress-bar" value="0" max="100" style="width: 100%;"></progress>
        </div>
        <div id="download-link" style="display: none;">
            <p>Your video has been downloaded successfully!</p>
            <a id="download-link-anchor" href="#" download>Download Video</a>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>