<!DOCTYPE html>
<html>
<head>
    <title>YouTube Video Downloader</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>YouTube Video Downloader</h1>
        <input type="text" id="video-link" placeholder="Enter YouTube video link">
        <br><br>
        <button onclick="startDownload()">Download</button>
        <br><br>
        <div id="progress-bar" style="display: none;">
            <div id="progress">0%</div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>